body{
    background-color: #D6E6FF;
    justify-content: center;
    display: flex;
    background-image: url(icon/Group\ 20.png);
    
}

kontainer {
    display: flex;
    justify-content: start;
    padding: 0 10px;
    margin: 3%;
    border-radius: 10px;
    background-image: url(icon/Group\ 21.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1034px;
    height: 580px;
    top: 123px;
    left: 125px;

}

div { 
    width: 301px;
    height: 383px;
    top: 231px;
    left: 177px;

}

img {
 
    margin-left: 60px;
    margin-top: 110px;
  }
  


